<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--Database-->
      <add key="DB_Server"   value="localhost"/>
      <add key="DB_Database" value="BKR_Zoo_Eric_Heinzl"/>
      <add key="DB_User"     value="root"/>
      <add key="DB_Password" value=""/>

      <!--Start password-->
      <add key="Start_Password" value="Start1000"/>
      
      <!--Hashing-->
      <!--Supported: sha256-->
      <add key="Hash_Driver" value="sha256"/>
      
    </appSettings>
</configuration>